.App {
  text-align: center;
  background: white;
  height: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 0 50px 0 50px;
}

.detail {
  color: red;
}
